@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/
/*stylng for heading start here*/
h1 {
  margin-top: 40px;
  color: #28489A;
  font-size: 30px;
}

h1::first-letter {
  text-transform: capitalize;
}

/*stylng for heading end here*/
/*stylng for tab list start here*/
.tab-list {
  padding: 0 2%;
  margin: 50px 0 40px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.tab-list:before {
  width: 20px;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0.3%;
  background: #AFBBC9;
  content: "";
}

.tab-list::after {
  width: 20px;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0.3%;
  background: #AFBBC9;
  content: "";
}

.tab-list li {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #AFBBC9;
}

/*for active tab*/
.active-tab {
  border: 1px solid #AFBBC9;
  border-bottom: none;
}

.tab-list a {
  padding: 15px 0;
  color: #AFBBC9;
  font-size: 20px;
  text-transform: capitalize;
}

.active-tab a {
  color: #28489A;
}

/*stylng for tab list end here*/
/*stylng for tab content start here*/
.history {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tab-content {
  margin: 0 2%;
  display: none;
}

.tab-content figure {
  padding: 10px 2%;
  flex-basis: 40%;
}

.tab-content p {
  margin: 25px 0;
  color: #AFBBC9;
  flex-basis: 60%;
  font-size: 20px;
  line-height: 30px;
}

.btn-list {
  width: 80%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-list li {
  flex-basis: 20%;
  text-align: center;
}

.btn-list a {
  width: 80%;
  padding: 5px 0;
  background-color: #AFBBC9;
  border: 1px solid #28489A;
  border-radius: 20px;
  color: #28489A;
  font-size: 20px;
  text-transform: capitalize;
  transition: background-color 1s ease, border 1s ease, transform 1s ease, background-image 1s ease;
}

.active-btn {
  background-image: linear-gradient(to right, #AFBBC9, #28489A);
  border: 1px solid #AFBBC9;
  color: #FFF;
  animation: btnActive 0.5s ease forwards;
  transform: scale(1, 1);
}

@keyframes btnActive {
  0% {
    transform: scale(1, 1);
  }

  50% {transform: scale(1.2, 1.2);}

  100% {transform: scale(1, 1);}
}

.img-list {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.img-list li {
  margin: 10px 1%;
  flex-basis: 30%;
}

/*styling for light box start here*/
/* The background */
.lightBox {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  overflow: auto;
  z-index: 1;
}

.lightBox figure {
  padding: 0;
  flex-basis: 30%;
}

/*for lb imgs*/
.lightBox img {
  max-width: 355px;
  max-height: 275px;
  display: block;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 5%;
  color: #FFF;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  cursor: pointer;
  text-decoration: none;
}

.show {
  display: flex;
  animation: showImg 0.5s ease-in-out forwards;
}

@keyframes showImg {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }

}

.hide {
  display: none;
}

.stopScroll {overflow-y: hidden;}

/*styling for light box end here*/
/*stylng for tab content end here*/
/*=================================
  main styling ends here
=================================*/